*.jpg
*.png
*.jpeg
*.JPEG
*.bin
build/
cifar_calib_set.txt
cifar_quanted_output/
cifar_val_set.txt
help.py
imgnet_calib_set.txt
imgnet_quanted_output/
imgnet_val_set.txt
mnist_calib_set.txt
mnist_quanted_output/
mnist_val_set.txt
output.txt
output1.txt
qgraph.txt
.cache/
imgnet/
cifar10_jpg/
mnist_jpg/
.vscode/
.DS_Store
cifar_output/
mnist_bn_output/
mnist_conv3_output/
resnet18_output/
mnist_conv_deep_output/
vgg11_output/
mnist_conv_add_output/